@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100vh;
  font-size: 10px;
  font-family: 'Nunito', sans-serif;
}

.wrapper {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  /* background: linear-gradient(0deg, rgba(0, 0, 0, 1) -10vh, rgba(142, 142, 142, 1) 140vh); */
  background: center / cover no-repeat url("/public/body-background.jpg");
  z-index: -2;
  overflow: hidden;
}

.overlay {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  overflow: hidden;
  background-color: white;
  /* background-color: rgb(253, 201, 146); */
  opacity: .75;
}


#root,
main {
  height: 100%;
  width: 100%;
  z-index: 1;
}

.introDiv {
  margin: auto;
  max-width: 40rem;
  height: 100%;
  padding: 0 .5rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.introDiv h1 {
  font-size: 2.8rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

.introDiv p {
  font-size: 1.2rem;
  margin-bottom: 2.5rem;
}

.readingDiv {
  display: none;
  opacity: 0;
}

.readingDiv.appeared {
  margin: auto;
  max-width: 40rem;
  height: 100%;
  padding: 0 .5rem;
  text-align: center;
}

.introDiv button {
  font-size: 1.2rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
}

.readingDiv h2 {
  font-size: 2rem;
  margin-bottom: 3rem;
  text-transform: uppercase;
}

/* Card flip effect */
.cardImg {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cardImgFront,
.cardImgBack {
  width: 250px;
  height: 428.679px;
  overflow: hidden;
  backface-visibility: hidden;
  transition: transform .6s linear;
}

.cardImgBack {
  position: absolute;
}

.cardImgFront {
  position: relative;

}

.cardImgBack img,
.cardImgFront img {
  width: 100%;
}

.cardImgFront {
  background: rgb(223, 180, 50);
  transform: perspective(800px) rotateY(0deg);
}

.cardImgBack {
  transform: perspective(800px) rotateY(180deg);
}

/* Card flip effect ends */

.card h3 {
  font-size: 1.6rem;
  margin-bottom: 3rem;
  display: none;
}

.card h4 {
  display: none;
  font-size: 1.2rem;
}

.descParagraph {
  display: none;
  font-size: 1rem;
  line-height: 1.6;
}

.desc {
  padding-bottom: 3rem;
}

.card button {
  font-size: 1rem;
  padding: 0.3rem .8rem;
  cursor: pointer;
  margin-bottom: 10rem;
}

/* Keyframes */

@keyframes goUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}

@keyframes goDown {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(100%);
  }
}


@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 0;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes slideInFromBelow {
  0% {
    transform: translateY(10rem);
  }

  100% {
    transform: translateY(0);
  }
}